{% load static %}
 <html>
 <head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
 </head>
 <body>
  <div id="header">
    {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name }},
        <a href="{% url 'board' %}">На главную</a>
        <a href="{% url 'catalog:product_list' %}">Каталог</a>
        <a href="{% url 'catalog:view_cart' %}">Корзина</a>
        <a href="{% url 'catalog:order_list' %}">Мои заказы</a>
        <a href="{% url 'profile' %}">Профиль</a>
    {% else %}
        <a href="{% url 'login_view' %}">Логин</a>
    {% endif %}
 </div>
 <div id="content">
    {% block content %}
    {% endblock %}
 </div>
 </body>
 </html>