{% load static %}
 <html>
 <head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
 </head>
 <body>
  <div id="header">
    {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name }},
        <a href="{% url "logout_view" %}">Logout</a>
    {% else %}
        <a href="{% url "login_view" %}">Log-in</a>
    {% endif %}
 </div>
 <div id="content">
    {% block content %}
    {% endblock %}
 </div>
 </body>
 </html>