{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<h1>Ваш профиль</h1>
<div id="editProfile" class="profile-section">
    <h2>{{user.username}}</h2>
    <h2>{{user.first_name}}</h2>
    <h2>{{user.email}}</h2>

</div>

<div id="myPosts" class="profile-section">
    <h2>Your Posts</h2>
    <div class="image-feed">
        {% for image in user.images.all %}
        <div class="image-item">
            <img src="{{ image.image.url }}" alt="Image" width="300">
            <p>{{ image.description }}</p>
            <p>Опубликовано {{ image.author.username }}</p>
        </div>
        {% empty %}
        <p>У вас еще нет постов</p>
        {% endfor %}
    </div>
</div>

<div id="uploadImage" class="profile-section">
    <h2>Опубликовать новый пост</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ image_form.as_p }}
        <button type="submit">Опубликовать пост</button>
    </form>
</div>
{% endblock %}
